ZOOM_ACCOUNT_ID=your_zoom_account_id
ZOOM_CLIENT_ID=your_zoom_client_id
ZOOM_CLIENT_SECRET=your_new_zoom_client_secret
ZOOM_TIMEZONE=UTC
ZOOM_MEETING_DURATION_MINUTES=60
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_16_character_google_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com